# Editor
.vscode/

# Build
build/
dist/

# Datos
data/

# Python
__pycache__/
*.pyc

# Logs
logs/
*.log

# Entornos
venv/
.env

# PyInstaller
*.spec

# Executables
*.exe

# PyInstaller extra
*.toc
*.pyz
*.pkg


#PARA CREAR EJECUTABLE

"""python -m PyInstaller --onefile --windowed --icon="Gero´s Launcher.ico" main.py"""