# Editor
.vscode/

# Build
build/
dist/

# Datos
data/

# Python
__pycache__/
*.pyc

# Logs
logs/
*.log

# Entornos
venv/
.env

# PyInstaller
*.spec

# Executables
*.exe

# PyInstaller extra
*.toc
*.pyz
*.pkg

*Gero´s Launcher.ico"